@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Quicksand:wght@400;700&display=swap');

img {
    width: 300px;
    height: auto;
    border-radius: 5%;
    box-shadow: 8px 5px 5px lightgray;
}

h1, h2, p, .home-button {
    font-family: "Merriweather", serif;
}

.home-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: rgb(106, 166, 185);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

li {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}