@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Quicksand:wght@400;700&display=swap');

img {
    display: block;
    width: 300px;
    height: auto;
    border-radius: 2%;
    box-shadow: 8px 5px 5px lightgray;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

li {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    margin: 8px;
}

.home-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: rgb(106, 166, 185);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

p {
    margin: 0.5em;
    line-height: 1.6em;
}

h1, h2, p, .home-button, ul a {
    font-family: "Merriweather", serif;
}

ul ul,
ol ul {
    list-style: none;
    padding-left: 0px; 
}

ul a {
    display: block;
    line-height: 2em;
    color: black;
    text-decoration: underline;
}